@model AppBarganhaWEB.Models.LeilaoVO

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
        </tr>
    </thead>
    @{
        int count = 1;
        @foreach (var anuncio in Model.Anuncios)
        {
            <tbody>
                <tr>
                    <th scope="row">@count</th>
                    <td>@anuncio.Nome</td>
                    <td>@anuncio.Descricao</td>
                    <td>@anuncio.Valor</td>
                </tr>
            </tbody>
            count++;
        }
    }
</table>